body {
  font-family: "Montserrat";
  text-align: center;
}

.icon {
  width: 200px;
  height: 200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
}

.testimonial-text {
  font-size: 2.5rem;
}

.price {
  font-size: 2.5rem;
}

.heading {
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}


.section-heading {
  font-size: 2.5rem;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

#title {
  text-align: left;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}

/* adding padding to the navbar */
.navbar {
  padding: 0 0 4.5rem;
}

/* navigation bar brand */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.8rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;

}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat-Light";
}

/* The download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* for the features */
#services {
  padding: 50px 50px;
  position: relative;
}

/* title image */
.title-image {
  /* width: 25%; */
  transform: rotate(26deg);
  position: absolute;
  right: 20%
}

.feature-box {
  padding: 8%;
}

/* for the icons */
.icon {
  color: #548CFF;
  margin-bottom: 1.1rem;
}

.icon-name {
  font-family: "Montserrat-Dark";
}

.icon:hover {
  color: #000;
}


/* testimonials */

.testimonial-image {
  width:15%;
  border-radius: 100%;
  padding: 20px;
}


.press-logo {
  width: 10%;
  margin: 20px 40px 50px 40px;
}


/* the pricing section */
#packages {
  padding: 100px;
}

#footer {
  background-color: #548CFF;
}

.contacts {
  padding-top: 100px;
  color: white;
}

/* #footer {
  color: gray;
  background-color: gray;
} */

.pricing-column {
  padding: 3% 2%;
}

.social-icon {
  padding: 20px 15px;
}

.white-section {
  color: black;
  background-color: white;
}
.coloured-section {
  background-color: #548CFF;
  color: #fff;
}

.target {
  font-size: 14px;
  transition: font-size 3s 0.01s;
}

.target:hover {
  font-size: 36px;
  color: black;
}

@media (max-width: 1028px) {

  #title {
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
